/* Declaring the fonts to be used within the web document. */
* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Declaring the webpage background color. */
body {
  background-color: lemonchiffon;
}

header,
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #f0ead6;
  background-color: #191970;
}

figure {
  width: 200px;
  background-color: #f0ead6;
}

/* Making the font bold to highlight the information. */
.highlighted-text {
  font-weight: bolder;
}

/* Declaring a background color for the contact  information element. */
#contact-section {
  background-color: #f0ead6;
}
